.container {
    z-index: 999;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: scroll;
    background: rgb(255 255 255 / 85%);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;

    >button {
        position: absolute;
        left: 10px;
        top: 10px;
        background-color: #49A4FC;
        color: oldlace;
    }

    >iframe {
        width: 100%;
        height: 100%;
    }
}