<!-- <app-nedteller-lansering></app-nedteller-lansering> -->

<div class="container">
  <br>
  <!-- Print only -->
  <div class="toolbar-logo-print">
    <div class="logo"></div>
  </div>

  <!-- <app-intercom-module></app-intercom-module> -->

  <div class="toolbar">
    <button mat-icon-button
      (click)="animasjonStatusMenyAvPaa == 'menyAv' ? animasjonStatusMenyAvPaa = 'menyPa' : animasjonStatusMenyAvPaa = 'menyAv'">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo" routerLink=""></div>
    <!-- Mobil -->
    <div [@meny]="animasjonStatusMenyAvPaa" class="undermeny">
      <div routerLink="" (click)="lukkMenyMobil()">
        <div>
          <mat-icon>business_center</mat-icon>
        </div>
        <div>Bedrifter</div>
      </div>
      <div routerLink="ta-testen" (click)="lukkMenyMobil()">
        <div>
          <mat-icon>create</mat-icon>
        </div>
        <div>Ta Testen</div>
      </div>
      <div routerLink="om-oss" (click)="lukkMenyMobil()">
        <div>
          <mat-icon>supervised_user_circle</mat-icon>
        </div>
        <div>Om Oss</div>
      </div>
    </div>
    <!-- PC -->
    <div class="undermeny-stor-skjerm">
      <div routerLink="" matTooltip="Finn ein bedrift!">
        <div>
          <mat-icon>business_center</mat-icon>
        </div>
        <div>Bedrifter</div>
      </div>
      <div routerLink="om-oss">
        <div>
          <mat-icon>supervised_user_circle</mat-icon>
        </div>
        <div>Om Oss</div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>