@import '../style-vars.scss';

// For meny-ikon
$fargeUI_menyKnapper1: lighten($color: $fargeUI_menyKnapper, $amount: 10%);
$fargeUI_menyKnapper2: transparentize($color: $fargeUI_menyKnapper, $amount: 0.9);

.container {
    position: relative;
    box-sizing: border-box;
    margin-top: 30px;
    width: 100%;
    height: 100vh;
    background-color: white;
    padding-top: 10px;
    user-select: none;

    .toolbar {
        position: fixed;
        box-sizing: border-box;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 60px;
        background-color: white;
        overflow: visible;
        box-shadow: 0px -7px 7px 7px rgb(0 0 0 / 0.28);
        padding-left: 10px;
        opacity: 0.9;

        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-bottom: 0px;

        transition: 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

        &:hover {
            opacity: 0.98;
        }

        >button {
            color: $fargeUI_menyKnapper;
            display: none;
        }

        .logo {
            width: 300px;
            height: 100%;
            background-image: url('../assets/drommedesign.png');
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            margin-top: 0px;
            margin-left: 3px;
            outline: none;
        }

        .undermeny {
            display: none;
        }

        .undermeny-stor-skjerm {
            position: absolute;
            z-index: 0;
            left: 320px;
            top: 0;
            background-color: white;
            width: calc(100% - 320px);
            height: 60px;
            box-sizing: border-box;

            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-end;
            align-items: center;

            padding-right: 10px;

            >div {
                width: auto;
                height: auto;
                padding: 0 36px;
                text-align: center;
                cursor: pointer;
                box-sizing: border-box;
                color: $fargeUI_menyKnapper;
                outline-color: $fargeUI_menyKnapper2;

                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;

                >div {
                    display: flex;
                }

                &:hover {
                    color: $fargeUI_menyKnapper1;
                }

                transition: 0.3s ease-in-out;
            }
        }
    }
}

// Tablet
@media screen and (max-width: 769px) {
    .container {
        .toolbar {

            >button {
                display: block;
            }

            .logo {
                width: 300px;
                margin-bottom: -10px;
                margin-left: 6px;
            }

            .undermeny {
                position: absolute;
                z-index: 0;
                left: 0;
                top: 58px;
                background-color: white;
                width: 100%;
                height: calc(60px * 4);
                box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.08);
                box-sizing: border-box;

                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                margin: auto;

                >div {
                    width: 300px;
                    height: auto;
                    padding: 10px 10px;
                    text-align: center;
                    cursor: pointer;
                    box-sizing: border-box;
                    color: $fargeUI_menyKnapper;
                    outline-color: $fargeUI_menyKnapper1;

                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;

                    >div {
                        display: flex;
                    }

                    &:hover {
                        color: $fargeUI_menyKnapper1;
                    }

                    transition: 0.3s ease-in-out;
                }
            }

            .undermeny-stor-skjerm {
                display: none;
            }
        }
    }
}

// Stor mobil
@media screen and (max-width: 426px) {
    .container {
        .toolbar {
            height: 55px;

            .undermeny {
                top: 55px;
            }

            .logo {
                width: 260px;
                margin-bottom: -10px;
                margin-left: 6px;
            }
        }
    }
}

// Liten mobil
@media screen and (max-width: 320px) {
    .container {
        .toolbar {
            height: 50px;

            .undermeny {
                top: 50px;
            }

            .logo {
                width: 230px;
                margin-bottom: -8px;
                margin-left: 6px;
            }
        }
    }
}