

.tittel {
    width: 45%;
    height: auto;
    margin: auto;
    margin-top: 0px;

    >div {
        width: 50%;
        border-top: 2px solid;
        margin: auto;
        margin-bottom: 27px;
    }

    font-size: 22px;
    padding: 15px;
    font-weight: 200;
    text-align: center;
}
.jumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-image: url();
    background-repeat: no-repeat;
    background-color: #ffffff;
    border-radius: .3rem;
    font: 400 24px/20px Roboto, "Helvetica Neue", sans-serif;
    box-shadow: none;

    >h1 {
        font: 400 40px/20px Roboto, "Helvetica Neue", sans-serif;
    }
}

