<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
</head>
<body>

<div class="jumbotron text-left">

  <p>Drømmebedriften er en nyskapende plattform for å koble sammen bedrifter og studenter</p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-7">
      <h3 class= "animated fadeInUp slow">Til deg som student</h3>
      <p class= "animated fadeInUp slow" >
        Usikker på hvordan du kan få en inngang i arbeidslivet? Drømmebedriften hjelper deg 
        på hvert skritt på veien mot drømmejobben. Vår test, designet i samarbeid med arbeidspsykologer, 
        vil gi deg et innblikk i hvilke bedrifter som kan passe deg. Deretter kan du kontakte bedrifter 
        direkte gjennom vår plattform - en helt ny og unik mulighet i dagens marked. Drømmebedriften 
        tilrettelegger for speed-dates, fremhever utlysninger, kartlegger din interesseprofil og 
        skreddersyr en portefølje av bedrifter til hver enkelt person. Den personaliserte tilnærmingen 
        og direkte kontakten fasilitert gjennom oss, gjør det enklere både for studenter å starte sin
         karriere og bedrifter med behov for nytenkende arbeidskraft.
      </p>
      <h3 class= "animated wow fadeInUp delay-1s">Til deg som bedrift</h3>
      <p class= "animated wow fadeInUp delay-1s" >
        Kjernen i enhver bedrift er de ansatte. I en ansettelsesprosess, der man tradisjonelt 
        sett kun hviler på en CV og et kort intervju, kan det være vanskelig å finne rett person
         til jobben. Dette gjelder spesielt når man skal ansette nyutdannede studenter som ikke 
         har hatt mulighet til å opparbeide seg erfaring. Å bruke personlighetstester kan hjelpe 
         å få en bedre forståelse av kandidaten sin personlighet, bestemme en passende jobb og 
         forutse jobbprestasjon og adferd.
      </p>
    </div>
    <div class="col-sm-5">
        <p>
            <img src="/assets/venn.gif" alt="" style="max-width: 400px;">
        </p>

    </div>
  </div>
</div>

</body>
</html>
