.container {
    position: relative;
    box-sizing: border-box;
    padding: 20px 80px;

    font-family: "Roboto", sans-serif;
    font-weight: 300;

    >div {
        box-sizing: border-box;
        width: 100%;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;

        .tekst {
            flex: 1 auto;
            text-align: justify;
            box-sizing: border-box;
            padding-right: 20px;
        }

        .gif {
            display: flex;
            justify-content: center;
            align-items: center;

            flex: 2 auto;

            >img {
                max-width: 400px;
            }
        }
    }
}

@media screen and (max-width: 880px) {
    .container {

        >div {
            flex-flow: row wrap;
            justify-content: flex-start;
            align-items: flex-start;

            >div {
                margin: 10px 0;
            }

            .tekst {
                padding-right: 0;
            }

            .gif {
                flex: 1 auto;

                >img {
                    width: 100%;
                }
            }
        }
    }
}