<div @omOssContainer class="container">
  <h1>Drømmebedriften er en nyskapende plattform for å koble sammen bedrifter og studenter</h1>

  <div>
    <!-- Tekst -->
    <div class="tekst">
      <h3>Til deg som student</h3>
      <p>
        Usikker på hvordan du kan få en inngang i arbeidslivet? Drømmebedriften hjelper deg på hvert skritt på veien mot
        drømmejobben. Vår test, designet i samarbeid med arbeidspsykologer, vil gi deg et innblikk i hvilke bedrifter
        som
        kan passe deg. Deretter kan du kontakte bedrifter direkte gjennom vår plattform - en helt ny og unik mulighet i
        dagens marked. Drømmebedriften tilrettelegger for speed-dates, fremhever utlysninger, kartlegger din
        interesseprofil og skreddersyr en portefølje av bedrifter til hver enkelt person. Den personaliserte
        tilnærmingen
        og direkte kontakten fasilitert gjennom oss, gjør det enklere både for studenter å starte sin karriere og
        bedrifter med behov for nytenkende arbeidskraft.
      </p>
      <h3>Til deg som bedrift</h3>
      <p>
        Kjernen i enhver bedrift er de ansatte. I en ansettelsesprosess, der man tradisjonelt sett kun hviler på en CV
        og
        et kort intervju, kan det være vanskelig å finne rett person til jobben. Dette gjelder spesielt når man skal
        ansette nyutdannede studenter som ikke har hatt mulighet til å opparbeide seg erfaring. Å bruke
        personlighetstester kan hjelpe å få en bedre forståelse av kandidaten sin personlighet, bestemme en passende
        jobb
        og forutse jobbprestasjon og adferd.
      </p>
    </div>
    <!-- GIF -->
    <div class="gif">
      <img src="/assets/venn.gif" alt="DB">
    </div>
  </div>
</div>