@import '../../style-vars.scss';

@keyframes bakgrunnFarge {
    from {
        background-color: white;
    }

    to {
        background-color: darken($color: $fargeUI_einBedrift, $amount: 5%);
    }
}

.container {
    z-index: 9999;
    position: fixed;

    width: 100%;
    height: 100%;

    background: radial-gradient(transparentize($color: $fargeUI_einBedrift, $amount: 0.5), 33%, white);

    animation: bakgrunnFarge 4.6s cubic-bezier(0.39, 0.575, 0.565, 1) alternate infinite;

    top: 0;
    left: 0;

    >div {
        position: absolute;
        left: calc(50% - 80% / 2);
        top: calc(50% - 250px / 2);

        width: 80%;
        height: 250px;
        box-sizing: border-box;

        padding: 10px 40px;
        text-align: center;

        color: $fargeUI_einBedrift;
        background-color: rgba(255, 255, 255, 0.603);

        box-shadow: inset 0 0 6px 1px rgb(0 0 0 / 9%);

        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;

        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-size: 20px;
        letter-spacing: 1px;

        user-select: none;
        pointer-events: none;

        >div {
            letter-spacing: 5px;
        }
    }
}