<div class="container">
    <div *ngIf="!ferdigNedtelling else opnerOpp">
        <h5>Drømmebedriften åpner offiselt om:</h5>
        <div>
            {{ currNedtellingData.dager }}d
            {{ currNedtellingData.timer }}t
            {{ currNedtellingData.minutter }}m
            {{ currNedtellingData.sekunder }}s
        </div>
    </div>
    <ng-template #opnerOpp>
        <div>
            <h5>Drømmebedriften åpnes opp ...</h5>
            <div>
                Velkommen!
            </div>
        </div>
    </ng-template>
</div>