@import '../../style-vars.scss';

@keyframes bakgrunnFarge {
    from {
        background-color: #2e42f4;
    }

}

.container {
    z-index: 9999;
    position: fixed;

    width: 100%;
    height: 100%;

    background: radial-gradient(transparentize($color: $fargeUI_einBedrift, $amount: 0), 0%, #2e42f4);


    top: 0;
    left: 0;

    >div {
        position: absolute;
        left: calc(50% - 80% / 2);
        top: calc(50% - 250px / 2);

        width: 80%;
        height: 250px;
        box-sizing: border-box;

        padding: 10px 40px;
        text-align: center;

        color: $fargeUI_einBedrift;
        background-color: #2e42f4;


        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 56px;
        letter-spacing: 1px;
        line-height: normal;
        user-select: none;
        pointer-events: none;

        >div {
            letter-spacing: 5px;
        }
    }
}