// **** Hugs å evt. juster i fila: "style.scss" også **** //

// $fargeUI_einBedrift: #49A4FC;
// $fargeUI_einBedrift: #55ADE0;
$fargeUI_einBedrift: #1976d2;
$bakgrunnPusher_Bedrifter: linear-gradient(60deg, rgb(87 67 227 / 57%) 0%, rgb(32 171 87 / 35%) 89%);
$fargeUI_menyKnapper: #616161;