@import './style-vars.scss';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$drommebedriften-primary: mat-palette($mat-blue, 700);
$drommebedriften-accent: mat-palette($mat-grey, 700);
// **** Hugs å juster i fila: "style-vars.scss" også **** //

// **^Curr.:
// https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=1976D2&secondary.color=616161

// The warn palette is optional (defaults to red).
$drommebedriften-warn: mat-palette($mat-yellow, A400);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$drommebedriften-theme: mat-light-theme((color: (primary: $drommebedriften-primary,
      accent: $drommebedriften-accent,
      warn: $drommebedriften-warn,
    )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($drommebedriften-theme);

/* You can add global styles to this file, and also import other style files */
body,


html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.c-u {
  text-decoration: dotted underline;
}

@mixin linkType1 {
  a {
    text-decoration: none;
    color: $fargeUI_einBedrift;

    &:hover {
      text-decoration: underline dotted;
    }
  }
}

p,
.link1,
.vimeo-link,
.mvt,
.mvt-type-2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;

  font-size: 1.15em;
  line-height: 25px;
  color: rgb(39, 39, 39);

  @include linkType1;
}

.mat-body p,
.mat-body-1 p,
.mat-typography .beskriving-p {
  margin: 0 0 20px;
  .li {
    
  }
}

.link1 {
  color: $fargeUI_einBedrift;
  text-decoration: none;

  padding: 0 10px;
  margin: 10px;
  margin-bottom: 10px;

  >sup {
    >mat-icon {
      color: $fargeUI_einBedrift;
      font-size: 1.2em;
    }
  }

  >div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;

    width: 100%;
    height: 2px;

    >span {
      display: inline-block;
      width: 0;
      height: 2px;
      border-top: 1px solid $fargeUI_einBedrift;
      transform: translate(-6px, 10px);

      transition: 800ms cubic-bezier(0.215, 0.610, 0.355, 1);
    }
  }

  &:hover {
    >div {
      >span {
        width: 90%;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: rgb(29, 29, 29);

  font-weight: 800!important;
  


.container {
  li {
  
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.15em;
    line-height: 25px;
    color: rgb(39, 39, 39);
    margin-block-end: 6px;
  
  }
  ul {
    margin-block-end: 6px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }
  h1 {
    margin-block-end: 10px;
  }
  h2 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

._pc {
  @media screen and (max-width: 860px) {
    display: none;
  }
}
}