@import '../../style-vars.scss';

.container {
    width: calc(100%);
    height: auto;
    min-height: 651px;
    background-color: white;
    box-sizing: border-box;
    padding: 20px 0;

    .sok-container {
        position: relative;
        width: 90%;
        height: 70px;
        margin: auto;
        margin-bottom: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        >input {
            position: relative;
            width: 80%;

            box-sizing: border-box;
            padding: 18px 50px;
            border: 1px solid transparentize($color: rgb(159, 170, 175), $amount: 0.7);
            border-radius: 8px;

            outline: none;

            &:focus {
                border: 1px solid transparentize($color: rgb(159, 170, 175), $amount: 0.4);
            }

            transition: 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        .visning-val {
            position: relative;
            width: 10%;
            min-width: 75px;
            max-width: 130px;
            height: 48px;
            background-color: white;
            // border: 1px solid transparentize($color: rgb(159, 170, 175), $amount: 0.7);
            border-radius: 10px;
            margin-left: 23px;
            overflow: hidden;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            >div {
                width: 50%;
                height: 100%;
                background-color: white;

                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                >mat-icon {
                    font-size: 25px;
                }

                &:hover {
                    color: white;
                    background-color: transparentize($color: lighten($color: #1976d2, $amount: 10%), $amount: 0.4);
                }

                transition: 0.1s;
            }

            >div.aktiv {
                color: white;
                background-color: transparentize($color: lighten($color: #1976d2, $amount: 9%), $amount: 0.05);
            }
        }
    }

    .bedrifter-fliser-container {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center; //space-between

        box-sizing: border-box;
        padding: 45px 10px;

        /* Comfy-view */
        .flis {
            width: 100%;
            height: 453px;
            overflow: hidden;
            background-color: white;
            border-radius: 4px;
            box-shadow: 0px 3px 8px 2px rgb(0 0 0 / 10%);

            .logo {
                position: relative;
                width: 100%;
                height: 190px;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;

                >div {
                    width: 100%;
                    height: 85%;
                    background-color: white;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                >mat-icon {
                    opacity: 0.3;
                    font-size: 100px;
                    margin-left: -70px;
                    margin-top: -70px;
                }
            }

            .annet {
                position: relative;
                width: 100%;
                height: 245px;

                box-sizing: border-box;
                padding: 16px;

                >button {
                    display: block;
                    position: absolute;
                    bottom: 9px;
                    left: calc(10% / 2);
                    width: 90%;

                    /* &:hover {
                        transform: scale(1.017);
                    } */
                }
            }
        }

        /* Liste-view */
        .flis-liste {
            width: 100%;
            max-width: 600px;
            height: auto;
            overflow: hidden;
            background-color: white;
            border-radius: 4px;
            box-shadow: 0px 3px 8px 2px rgb(0 0 0 / 10%);
            box-sizing: border-box;

            .logo {
                position: relative;
                width: 100%;
                height: 100px;
                background-color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                box-sizing: border-box;

                padding: 10px;
                padding-bottom: 5px;

                >div {
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: right;
                }

                >mat-icon {
                    width: 100%;
                    opacity: 0.3;
                    font-size: 90px;
                    margin-top: -70px;
                    text-align: right;
                }
            }

            .annet {
                position: relative;
                width: 100%;

                box-sizing: border-box;
                padding: 16px;

                text-align: left;

                >button {
                    width: 100%;
                }
            }
        }

        $borderRadiusPusher: 0px;
        $boxShadowPusher: inset 0 0 22px 0px rgb(34 138 200 / 25%);
        $opacityPusher: 0.5;

        .flis-pusher {
            flex: 1;
            min-width: 40px;
            height: calc(453px - 40px);
            // background-color: $fargePusher_Bedrifter;
            background: $bakgrunnPusher_Bedrifter;
            // border: 1px dotted rgb(151 172 189 / 84%);
            border-top-right-radius: $borderRadiusPusher;
            border-bottom-left-radius: $borderRadiusPusher;
            // box-shadow: $boxShadowPusher;
            margin: 30px 5px;
            opacity: $opacityPusher;
        }

        .flis-pusher-ekstra {
            display: none;

            width: 330px;
            height: calc(453px - 40px);
            overflow: hidden;
            // background-color: $fargePusher_Bedrifter;
            background: $bakgrunnPusher_Bedrifter;
            // border: 1px solid #e3e3e3;
            border-top-left-radius: $borderRadiusPusher;
            border-bottom-right-radius: $borderRadiusPusher;
            // box-shadow: $boxShadowPusher;
            margin: 30px 5px;
            opacity: $opacityPusher;

        }
    }
}

// Når bedrift-kortene wrapper
@media screen and (max-width: 808px) {
    .container {
        .bedrifter-fliser-container {
            .flis-pusher {
                display: none;
            }

            .flis-pusher-ekstra {
                display: block;
            }
        }
    }
}

@media screen and (max-width: 757px) {
    .container {
        .bedrifter-fliser-container {
            justify-content: center;

            .flis-pusher-ekstra {
                display: none;
            }
        }
    }
}

// Tablet
@media screen and (max-width: 768px) {
    .container {
        .sok-container {
            width: 100%;
            height: 70px;
            margin-bottom: 0px;

            display: flex;
            justify-content: flex-start;
            align-items: center;

            >input {
                width: calc(100% - 50px);
            }

            .visning-val {
                display: none;
            }
        }
    }
}

// Medium mobil
@media screen and (max-width: 376px) {
    .container {
        .bedrifter-fliser-container {
            padding: 35px 10px;

            .flis {
                border-radius: 9px;

                .annet {
                    padding: 12px;
                }
            }
        }
    }
}

@media print {
    .container {
        .sok-container {
            display: none;
        }

        .bedrifter-fliser-container {
            padding: 15px 20px;

            .flis {
                border-radius: 0;
                box-shadow: none;

                .logo {
                    align-items: flex-start;
                    justify-content: flex-start;

                    >div {
                        width: 180px;
                        height: 180px;

                        border-radius: 4px;
                        border: 1px solid black;
                    }

                    >mat-icon {
                        border: 1px solid black;
                    }
                }

                .annet {
                    position: relative;
                    width: 100%;
                    height: 245px;

                    box-sizing: border-box;
                    padding: 16px;

                    text-align: left;

                    >button {
                        display: none;
                    }
                }
            }
        }
    }
}