<div class="container database-lister-container">

    <!-- Søke-område -->
    <div class="sok-container">
        <mat-icon style="z-index: 1;left: 70px;color: gray;transform: translateX(40px);">search</mat-icon>
        <input #sok type="text" placeholder="Søk etter bedrift, bransje ..." (input)="eitSokAvBedrifter(sok)">
        <button *ngIf="sok.value.length > 0" mat-icon-button
            style="z-index: 1;color: gray;transform: translateX(-50px);"
            (click)="sok.value = '';eitSokAvBedrifter(sok)">
            <mat-icon>close</mat-icon>
        </button>
        <div class="visning-val">
            <div #vi0 class="aktiv" (click)="visning(vi0, 0)">
                <mat-icon>view_comfy</mat-icon>
            </div>
            <div #vi1 (click)="visning(vi1, 1)">
                <mat-icon>format_list_bulleted</mat-icon>
            </div>
        </div>
    </div>

    <!-- Alle bedrifter ramset opp -->
    <div [@bedrifter]="bedrifterVisningsType" #bedrifterFliserContainer class="bedrifter-fliser-container">
        <!-- Ein bedrift -->
        <ng-container *ngIf="alleBedrifterVisning else lasterInn">
            <ng-container *ngIf="alleBedrifterVisning.length > 0 else nullResultatSok">
                <ng-container *ngFor="let bedrift of alleBedrifterVisning; trackBy: flisBedriftTracker">
                    <div [@bedriftFlis]="bedrifterVisningsType"
                        [class]="bedrifterVisningsType === 'comfy' ? 'flis' : 'flis-liste'">
                        <div class="logo">
                            <div *ngIf="bedrift.bedriftData.logoLink else broken"
                                [attr.data-logourl]="'url(' + bedrift.bedriftData.logoLink + ')'">
                            </div>
                            <ng-template #broken>
                                <mat-icon>broken_image</mat-icon>
                            </ng-template>
                        </div>
                        <div class="annet">
                            <h2 [innerHTML]="bedrift.bedriftData.namn" [style.textAlign]="!bedrift.bedriftData.beskriving1 ? 'center' : ''" [style.margin]="!bedrift.bedriftData.beskriving1 ? '28px 0px 5px' : '0px 0px 5px'"></h2>
                            <ng-container *ngIf="bedrift.bedriftData.beskriving1">
                                <p *ngIf="bedrifterVisningsType === 'comfy'"
                                    [innerHTML]="forkortString(bedrift.bedriftData.beskriving1, 155)"></p>
                                <p *ngIf="bedrifterVisningsType === 'liste'"
                                    [innerHTML]="forkortString(bedrift.bedriftData.beskriving1, 90)"></p>
                            </ng-container>

                            <button mat-raised-button color="primary"
                                [routerLink]="['/bedrifter', { outlets: { bedrift: bedrift.bedriftData.ruterLink } }]">
                                Les mer <sup></sup>
                            </button>
                        </div>
                    </div>

                    <!-- <div *ngIf="bedrifterVisningsType === 'comfy'" class="flis-pusher"></div> -->
                </ng-container>

                <!-- <div class="flis-pusher-ekstra" *ngIf="alleBedrifterVisning.length % 2 !== 0"></div> -->
            </ng-container>
        </ng-container>
        <ng-template #lasterInn>
            <mat-spinner color="accent" style="margin: auto;"></mat-spinner>
        </ng-template>
        <ng-template #nullResultatSok>
            <span *ngIf="sok.value.trim().length > 1">
                Søket, <b>{{ sok.value.trim() }}</b>, gav ingen treff på noe bedrift.
            </span>
        </ng-template>
    </div>

</div>