.tittel {
    width: 45%;
    height: auto;
    margin: auto;
    margin-top: 0px;

    >div {
        width: 50%;
        border-top: 2px solid;
        margin: auto;
        margin-bottom: 27px;
    }

    font-size: 22px;
    padding: 15px;
    font-weight: 200;
    text-align: center;
}