<ng-container *ngIf="einBedrift && einBedrift.gfhel && einBedriftCurrentGoogleFormLink">
    <app-dynamisk-google-form-html [htmlLink]="einBedriftCurrentGoogleFormLink"></app-dynamisk-google-form-html>
</ng-container>

<ng-container *ngIf="einBedrift else laster">
    <div [@einBedrift]="containerStatus" class="container">
        <button mat-mini-fab color="primary" class="pil-tilbake" (click)="lukkPanel()">
            <mat-icon>first_page</mat-icon>
        </button>

        <div>
            <div class="header"
                [style.backgroundImage]="einBedrift.framsidebileteLink ? 'url(' + einBedrift.framsidebileteLink + ')' : ''"
                [style.backgroundPosition]="einBedrift.framsidebiletePosisjon"
                [style.backgroundSize]="einBedrift.framsidebileteStorrelse">
                <div class="logo">
                    <div *ngIf="einBedrift.logoLink else broken"
                        [style.backgroundImage]="'url(' + einBedrift.logoLink + ')'">
                    </div>
                    <ng-template #broken>
                        <mat-icon>broken_image</mat-icon>
                    </ng-template>
                </div>
            </div>
            <div class="tekst">
                <div class="tilleggskort" *ngIf="einBedrift.gfhel || einBedrift.tilleggskort">
                    <!-- Google Form som "tilleggskort" -->
                    <ng-container *ngIf="einBedrift.gfhel">
                        <div *ngFor="let googleFormKort of einBedrift.gfhel">
                            <!-- Tittel -->
                            <h1 class="tittel" *ngIf="googleFormKort.tittel.length else formKortTittel"
                                [innerHTML]="googleFormKort.tittel"></h1>
                            <ng-template #formKortTittel>
                                <h1 class="tittel" *ngIf="googleFormKort.tittel === 1">
                                    Speedate
                                </h1>
                            </ng-template>
                            <!-- Beskrivelse -->
                            <ng-container *ngIf="googleFormKort.beskriving1 else br">
                                <p *ngIf="googleFormKort.beskriving1.length else standardBeskriving"
                                    [innerHTML]="googleFormKort.beskriving1"></p>
                                <ng-template #standardBeskriving>
                                    <p *ngIf="googleFormKort.beskriving1 === 1">
                                        Meld deg på Speedate med {{ einBedrift.namn }}!
                                    </p>
                                </ng-template>
                            </ng-container>
                            <ng-template #br>
                                <p>
                                    Google Form-skjema
                                </p>
                            </ng-template>

                            <span (click)="opneUndersokelse(googleFormKort.link1);">
                                <ng-container *ngIf="googleFormKort.linktekst1.length else standardLinkTekst">
                                    {{ googleFormKort.linktekst1 }}
                                </ng-container>
                                <ng-template #standardLinkTekst>
                                    <ng-container *ngIf="googleFormKort.linktekst1 === 1">
                                        Påmelding
                                    </ng-container>
                                </ng-template>
                            </span>
                        </div>
                    </ng-container>
                    <!-- Andre tilleggskort -->
                    <ng-container *ngIf="einBedrift.tilleggskort">
                        <div *ngFor="let kort of einBedrift.tilleggskort">
                            <h1 style="margin-block-end: 5px;" [innerHTML]="kort.tittel"></h1>
                            <p [innerHTML]="kort.beskriving1"></p>

                            <a [href]="kort.link1"
                                [innerHTML]="kort.linktekst1 === 1 ? 'Les mer om ' + kort.tittel + ' her' : kort.linktekst1"
                                target="_blank" rel="noopener"></a>
                        </div>
                    </ng-container>
                </div>

                <h1 [innerHTML]="einBedrift.namn"></h1>
                <p [innerHTML]="einBedrift.beskriving1"></p>
                <p [innerHTML]="einBedrift.beskriving2"></p>

                <p class="link1">
                    <a [href]="einBedrift.link1"
                        [innerHTML]="einBedrift.linktekst1 !== 1 ? einBedrift.linktekst1 : einBedrift.namn + ' - Hjemmeside'"
                        target="_blank" rel="noopener"></a>
                    <sup>
                        <mat-icon>open_in_new</mat-icon>
                    </sup>
                    <br>
                    <span></span>
                </p>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #laster>
    Laster inn...
</ng-template>