<ng-container *ngIf="einBedrift && einBedrift.gfhel && einBedriftCurrentGoogleFormLink">
    <app-dynamisk-google-form-html [htmlLink]="einBedriftCurrentGoogleFormLink"></app-dynamisk-google-form-html>
</ng-container>

<ng-container *ngIf="einBedrift else laster">
    <div id="einBedriftContainer" [@einBedrift]="containerStatus" class="container">
        <button mat-mini-fab color="primary" class="pil-tilbake" (click)="lukkPanel()">
            <mat-icon>first_page</mat-icon>
        </button>

        <aside class="navigering">
            <button mat-mini-fab color="accent" (click)="byttBedriftForCurrVisning('forrige')">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <button mat-mini-fab color="accent" (click)="byttBedriftForCurrVisning('neste')">
                <mat-icon>navigate_next</mat-icon>
            </button>
        </aside>

        <div>
            <div class="header"
                [style.backgroundImage]="einBedrift.framsidebileteLink ? 'url(' + einBedrift.framsidebileteLink + ')' : ''"
                [style.backgroundPosition]="einBedrift.framsidebiletePosisjon"
                [style.backgroundSize]="einBedrift.framsidebileteStorrelse">
                <div class="logo">
                    <div *ngIf="einBedrift.logoLink else broken"
                        [style.backgroundImage]="'url(' + einBedrift.logoLink + ')'">
                    </div>
                    <ng-template #broken>
                        <mat-icon>broken_image</mat-icon>
                    </ng-template>
                </div>
                <div *ngIf="einBedrift.framsidebileteFotoPerson" class="foto">
                    Foto: {{ einBedrift.framsidebileteFotoPerson }}
                </div>
            </div>
            <div class="tekst">
                <div class="tilleggskort" *ngIf="einBedrift.gfhel || einBedrift.tilleggskort">
                    <!-- Google Form som "tilleggskort" -->
                    <ng-container *ngIf="einBedrift.gfhel">
                        <div *ngFor="let googleFormKort of einBedrift.gfhel">
                            <!-- Tittel -->
                            <h1 class="tittel" *ngIf="googleFormKort.tittel.length else formKortTittel">
                                {{ googleFormKort.tittel }}
                            </h1>
                            <ng-template #formKortTittel>
                                <h1 class="tittel" *ngIf="googleFormKort.tittel === 1">
                                    Speedate
                                </h1>
                            </ng-template>
                            <!-- Beskrivelse -->
                            <ng-container *ngIf="googleFormKort.beskriving1 else br">
                                <p *ngIf="googleFormKort.beskriving1.length else standardBeskriving"
                                    [innerHTML]="googleFormKort.beskriving1"></p>
                                <ng-template #standardBeskriving>
                                    <!-- Speedate -->
                                    <p *ngIf="googleFormKort.beskriving1 === 1">
                                        Meld deg på Speedate med {{ einBedrift.namn }}!
                                    </p>
                                </ng-template>
                            </ng-container>
                            <ng-template #br>
                                <p>
                                    Google Form-skjema
                                </p>
                            </ng-template>

                            {{ googleFormKort.link1 }}
                            <span (click)="opneUndersokelse(googleFormKort.link1);">
                                <ng-container *ngIf="googleFormKort.linktekst1.length else standardLinkTekst">
                                    {{ googleFormKort.linktekst1 }}
                                </ng-container>
                                <ng-template #standardLinkTekst>
                                    <!-- Speedate -->
                                    <ng-container *ngIf="googleFormKort.linktekst1 === 1">
                                        Påmelding
                                    </ng-container>
                                </ng-template>
                            </span>
                        </div>
                    </ng-container>
                    <!-- Andre tilleggskort -->
                    <ng-container *ngIf="einBedrift.tilleggskort">
                        <div *ngFor="let kort of einBedrift.tilleggskort">
                            <!-- Tittel -->
                            <ng-container *ngIf="kort.tittel.length else standardKortTittel">
                                <h1 class="tittel" [innerHTML]="kort.tittel"></h1>
                            </ng-container>
                            <ng-template #standardKortTittel>
                                <ng-container *ngIf="kort.tittel === 1">
                                    <h1 class="tittel">Middag!</h1>
                                </ng-container>
                            </ng-template>
                            <!-- Beskrivelse -->
                            <ng-container *ngIf="kort.beskriving1.length else standardKortBeskriving">
                                <p [innerHTML]="kort.beskriving1"></p>
                            </ng-container>
                            <ng-template #standardKortBeskriving>
                                <!-- Middag -->
                                <ng-container *ngIf="kort.beskriving1 === 1">
                                    <p>
                                        Informasjon om {{ einBedrift.namn }}-middagen.
                                    </p>
                                </ng-container>
                            </ng-template>
                            <!-- Link -->
                            <a [href]="kort.link1" target="_blank" rel="noopener">
                                <ng-container *ngIf="kort.linktekst1.length else standardKortLinktekst">
                                    Les mer om {{ kort.linktekst1 }}
                                </ng-container>
                                <ng-template #standardKortLinktekst>
                                    <!-- Middag -->
                                    <ng-container *ngIf="kort.linktekst1 === 1">
                                        Les mer
                                    </ng-container>
                                </ng-template>
                            </a>
                        </div>
                    </ng-container>
                </div>

                <!-- Namn -->
                <h1 [innerHTML]="einBedrift.namn"></h1>
                <!-- Link 1 -->
                <a class="link1" [href]="einBedrift.link1" target="_blank" rel="noopener">
                    {{ einBedrift.linktekst1 !== 1 ? einBedrift.linktekst1 : einBedrift.namn + ' - Hjemmeside' }}
                    <sup>
                        <mat-icon>open_in_new</mat-icon>
                    </sup>
                    <br>
                    <div>
                        <span></span>
                    </div>
                </a>

                <div class="beskrivelse-video">
                    <div>
                        <!-- Beskrivelse -->
                        <p *ngIf="einBedrift.beskriving1" class="beskriving-p" [innerHTML]="einBedrift.beskriving1"></p>
                        <p *ngIf="einBedrift.beskriving2" class="beskriving-p" [innerHTML]="einBedrift.beskriving2"></p>
                        <!--  -->
                        <!-- Finansdepartementet -->
                        <ng-container *ngIf="einBedrift.ruterLink === 'finansdepartementet'">
                            Våre arbeidsoppgaver er blant annet å:
                            <div class="midtstilt-venstre-tekst">
                                <ul>
                                    <li>planlegge og iverksette den økonomiske politikken</li>
                                    <li>samordne arbeidet med statsbudsjettet</li>
                                    <li>sørge for at det offentlige får inn skatter og avgifter</li>
                                    <li>overvåke og utarbeide regler for finansmarkedene</li>
                                    <li>forvalte Statens pensjonsfond</li>
                                </ul>
                            </div>
                            <p>
                                Som nyansatt hos oss har du en reell rolle i departementet fra første stund, og du vil
                                få
                                mye ansvar. Hos oss vil du kunne anvende og utvikle
                                kunnskapen fra skolebenken på dagsaktuelle problemstillinger. Du fungerer som en
                                selvstendig faglig rådgiver fra dag en, og gir råd til politisk
                                ledelse i saker på ditt fagområde. Samtidig får du tett oppfølging av dyktige ledere og
                                kollegaer som hører på dine synspunkter. Ditt arbeid er
                                viktig for departementet, og du vil få en variert arbeidshverdag med høyt tempo.
                            </p>
                            <br>
                            <p>
                                Hvilke muligheter tilbyr vi studenter?
                                <i>Praktikantopphold:</i> Formålet med praktikantoppholdet er å gi deg en opplevelse av
                                hvordan
                                det er å jobbe som jurist og økonom i Finansdepartementet.
                            </p>
                            <h3>
                                <u>For jurister:</u>
                            </h3>
                            <p>
                                Praktikantoppholdet tilbys nå i vår Skattelovavdeling, og er lønnet med fire til seks
                                ukers
                                varighet. Som praktikant hos oss får du anledning til å jobbe med saker i
                                skjæringspunktet
                                mellom juss, fag og politikk og får være en del av et sterkt fagmiljø som gir råd til
                                vår
                                politiske ledelse.
                                Vi ser etter deg som har fullført 3. studieår/avdeling og har gode eksamensresultater.
                                Les
                                mer om stillingen her <a
                                    href="https://www.jobbnorge.no/ledige-stillinger/stilling/191770/praktikantopphold-i-skattelovavdelingen-for-jusstudenter">
                                    www.jobbnorge.no
                                </a>
                                <i>(søknadsfrist 1. okt. 2020)</i>
                            </p>
                            <h3>
                                <u>For økonomer:</u>
                            </h3>
                            <p>
                                Finansdepartementet tilbyr ett til tre lønnede engasjementer for økonomistudenter med
                                oppstart i begynnelsen av januar 2021 og med en varighet på 5-6 uker. Kortere opphold
                                kan
                                vurderes.
                                Arbeidsoppgavene vil i hovedsak bestå av analyser og vurderinger av ulike faglige
                                problemstillinger og understøtte avdelingene i deres arbeid. Engasjementet er en god
                                mulighet til å bli bedre kjent med Finansdepartementet. Samtidig får du anledning til å
                                arbeide med utfordrende og samfunnsnyttige oppgaver i et sterkt fagmiljø, samt få et
                                innblikk i samspillet mellom økonomi og politikk. Du vil få tildelt en fadder under hele
                                oppholdet.
                                Studentene vil bli tilknyttet en avdeling, henholdsvis Skatteøkonomisk avdeling,
                                Finansavdelingen eller Utviklingsprogrammet.
                                Les mer om stillingen her: <a
                                    href="https://www.jobbnorge.no/ledige-stillinger/stilling/191809/studentengasjement-for-oekonomer">
                                    www.jobbnorge.no
                                </a>
                                <i>(søknadsfrist 29. sept. 2020)</i>.
                            </p>

                            <p>
                                Vi rekrutterer studenter som har utdanning innen økonomi herunder siviløkonomi,
                                samfunnsøkonomi etc, og jurister (til FMA og SL).
                            </p>
                            <p>
                                Ønsker du mer informasjon om Finansdepartementet?
                                På <a href="https://jobbifin.dep.no ">www.jobbifin.dep.no/</a>
                                finner du mer informasjon om oss og om våre avdelinger.
                            </p>
                        </ng-container>
                        <!--  -->
                        <!-- Ekstra Link 1 -->
                        <p class="beskriving-p" *ngIf="einBedrift.ekstraLink1">
                            <br>
                            &#8259; <span [innerHTML]="einBedrift.ekstraLink1"></span> &#8259;
                        </p>
                    </div>
                    <!-- Vimeo Video -->
                    <div *ngIf="einBedrift.vimeoVideo" class="vimeo-video"
                        [style.borderLeftColor]="einBedrift.vimeoVideo.farge ? einBedrift.vimeoVideo.farge : ''">
                        <iframe [src]="domSanitizer.bypassSecurityTrustResourceUrl(einBedrift.vimeoVideo.kjelde)"
                            frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
                        </iframe>
                        <p>
                            <span>
                                <mat-icon
                                    [style.color]="einBedrift.vimeoVideo.farge ? einBedrift.vimeoVideo.farge : ''">
                                    whatshot</mat-icon>
                                <span [innerHTML]="einBedrift.vimeoVideo.indreHTML[2]"></span>
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-template #laster>
    Laster inn...
</ng-template>