@import '../../style-vars.scss';

.container {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.975);
    overflow-y: scroll;
    box-sizing: border-box;

    .pil-tilbake {
        z-index: 1;
        position: absolute;
        left: 17px;
        top: calc(58vh + 20px);
        opacity: 0.9;
    }

    .navigering {
        z-index: 1;
        position: absolute;
        right: 17px;
        top: calc(58vh + 20px);

        >button {
            margin: 7px;
        }
    }

    >div {
        position: relative;
        width: 100%;
        height: 100%;

        .foto {
            z-index: 1;
            position: fixed;
            background-color: rgba(255, 255, 255, 0.637);
            right: 10px;
            top: 10px;
            box-sizing: border-box;
            padding: 5px;
        }

        .header {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 58vh;
            border-bottom: 1px solid lightgray;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;

            background-color: rgba(245, 245, 245, 0.411);

            .logo {
                z-index: 1;
                background-color: white;
                position: absolute;
                width: 20vh;
                height: 20vh;
                left: calc(50% - 20vh / 2);
                top: calc(58vh - 20vh / 1.4);
                border-radius: 12px;
                overflow: hidden;
                box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);
                box-sizing: border-box;
                padding: 9px;

                >div {
                    width: 100%;
                    height: 100%;

                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                >mat-icon {
                    opacity: 0.3;
                    font-size: 60px;
                    margin-left: calc(20vh / 2 - 60px / 2);
                    margin-top: calc(20vh / 2 - 60px / 2);
                }

            }
        }

        .tekst {
            position: absolute;
            left: 0;
            top: calc(58vh + 80px);
            width: 100%;
            height: auto;
            padding: 20px 130px;
            margin-bottom: 90px;
            box-sizing: border-box;

            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            >h1 {
                text-align: left;
                margin-block-end: 0;
            }

            .beskrivelse-video {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: row wrap;
                text-align: left;

                >p {
                    text-align: center;
                }

                .midtstilt-venstre-tekst {
                    display: flex;
                    justify-content: left;
                    align-items: flex-end;
                    flex-flow: row wrap;

                    width: 100%;
                    height: auto;

                    >* {
                        display: inline-block;
                        text-align: left;
                    }

                    >h3 {
                        margin-right: 30px;
                        align-self: flex-start;
                    }

                    >ul {
                        list-style-type: '↪ ';
                        padding: 8px 0;
                        border-top: 1px dotted black;
                        border-bottom: 1px dotted black;
                    }
                }

                .vimeo-video {
                    position: relative;
                    width: 100%;
                    height: auto;
                    box-sizing: border-box;
                    padding: 56.25% 0 0 0;

                    margin-bottom: 55px;
                    margin-top: 30px;

                    border-left: 5px solid $fargeUI_einBedrift;

                    >iframe {
                        position: absolute;
                        top: 0;
                        left: 8px;

                        width: calc(100% - 10px);
                        height: 100%;
                    }

                    .vimeo-link {
                        position: absolute;
                        top: calc(100% + 9px);
                        left: 0;

                        width: 100%;
                        text-align: right;

                        font-weight: bold;
                        font-size: 0.7em;

                        >span {
                            mat-icon {
                                vertical-align: middle;
                                font-size: 20px;
                                text-shadow: -1px 0px 0px rgb(25 25 25 / 65%);
                                margin-right: 2px;
                                color: #ffe500;
                            }

                            span {
                                word-break: keep-all;
                                overflow-x: scroll;
                            }
                        }
                    }
                }
            }

            .tilleggskort {
                position: relative;
                width: 100%;
                height: auto;
                margin-top: 5px;
                margin-bottom: 30px;
                box-sizing: border-box;

                padding: 10px 30px;

                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-items: center;

                >div {
                    flex: 1 auto;
                    max-width: 600px;
                    min-width: 330px;
                    height: auto;
                    background-color: white;
                    box-sizing: border-box;
                    padding: 14px 20px;
                    border-radius: 10px;

                    margin: 10px;

                    box-shadow: 0px 5px 18px 0px rgb(0 0 0 / 19%);

                    .tittel {
                        margin-block-end: 8px;
                    }

                    >p {
                        word-break: keep-all;
                    }

                    >a,
                    >span {
                        display: block;
                        color: white;
                        text-decoration: none;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding: 10px;
                        box-sizing: border-box;
                        border-radius: 6px;
                        font-weight: 100;
                        background-color: $fargeUI_einBedrift;

                        transition: 300ms ease;

                        cursor: pointer;
                        user-select: none;

                        outline: none;

                        &:hover {
                            background-color: lighten($color: $fargeUI_einBedrift, $amount: 3%);
                        }

                        &:active {
                            background-color: darken($color: $fargeUI_einBedrift, $amount: 2%);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 880px) {
    .container {

        >div {

            .tekst {

                .beskrivelse-video {
                    flex-flow: row wrap-reverse;
                    margin-top: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .container {

        >div {

            .tekst {
                padding: 20px 100px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .container {

        >div {

            .tekst {
                padding: 20px 70px;
            }
        }
    }
}

@media screen and (max-width: 475px) {
    .container {
        >div {
            .tekst {
                padding: 20px 30px;

                .tilleggskort {
                    padding: 10px 30px;

                    >div {
                        min-width: 280px;
                        height: auto;
                        background-color: white;
                        box-sizing: border-box;
                        padding: 14px 20px;
                        border-radius: 10px;

                        margin: 10px;

                        box-shadow: 0px 5px 18px 0px rgb(0 0 0 / 19%);
                    }
                }
            }
        }
    }
}

// For utskrift av sida...
@media print {
    .container {
        background-color: white;
        overflow-y: auto;

        .pil-tilbake {
            display: none;
        }

        .opne-google-form {
            display: none;
        }

        >div {
            position: relative;

            .header {
                .logo {
                    border: 1px solid black;
                    box-shadow: none;
                }
            }

            .tekst {
                padding: 20px 40px;
                padding-bottom: 60px;
                box-sizing: border-box;

                >h1 {
                    color: black;
                    text-align: left;
                }

                >p {
                    color: black;
                    text-align: justify;
                }

                .link1 {
                    display: none;
                }

                .tilleggskort {
                    display: none;
                }
            }
        }
    }
}