.container {
    z-index: 99;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.975);
    overflow-y: scroll;

    .pil-tilbake {
        z-index: 1;
        position: absolute;
        left: 17px;
        top: calc(40vh + 20px);
        background-color: cadetblue;
        opacity: 0.9;
    }

    .opne-google-form {
        z-index: 1;
        position: absolute;
        left: calc(17px + 40px + 10px);
        top: calc(40vh + 20px);
        background-color: cadetblue;
        opacity: 0.9;
        transform: translateY(14px);
    }

    >div {
        position: relative;
        width: 100%;
        height: 100%;

        .header {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 40vh;
            border-bottom: 1px solid lightgray;

            background-size: cover;
            background-repeat: no-repeat;
            background-position: top;

            background-color: rgba(245, 245, 245, 0.411);

            .logo {
                z-index: 1;
                background-color: white;
                position: absolute;
                width: 20vh;
                height: 20vh;
                left: calc(50% - 20vh / 2);
                top: calc(40vh - 20vh / 1.4);
                border-radius: 12px;
                overflow: hidden;
                box-shadow: 0px 3px 4px rgb(0 0 0 / 15%);

                >div {
                    width: 100%;
                    height: 100%;

                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                }

                >mat-icon {
                    opacity: 0.3;
                    font-size: 60px;
                    margin-left: calc(20vh / 2 - 60px / 2);
                    margin-top: calc(20vh / 2 - 60px / 2);
                }

            }
        }

        .tekst {
            position: absolute;
            left: 0;
            top: calc(40vh + 80px);
            width: 100%;
            height: auto;
            padding: 20px 40px;
            padding-bottom: 90px;
            box-sizing: border-box;

            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;

            >h1 {
                text-align: center;
            }

            >p {
                text-align: center;
            }

            $farge0: rgba(32, 178, 171, 0.9);
            $farge1: rgba(32, 178, 171, 0.437);

            .link1 {
                // border: 2px dashed $farge1;
                border-radius: 20px;
                padding: 10px 20px;

                >a {
                    color: $farge0;
                    text-decoration: none;
                }

                >sup {
                    >mat-icon {
                        color: orangered;
                        font-size: 1.2em;
                    }
                }

                >span {
                    display: inline-block;
                    width: 0;
                    height: 2px;
                    border-top: 2px solid $farge0;

                    transition: 800ms cubic-bezier(0.215, 0.610, 0.355, 1);
                }

                &:hover {
                    >span {
                        width: 120px;
                    }
                }
            }

            .tilleggskort {
                position: relative;
                width: 100%;
                height: auto;
                margin-top: 40px;
                box-sizing: border-box;

                padding: 10px 30px;

                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                align-items: center;

                >div {
                    flex: 1 auto;
                    max-width: 600px;
                    min-width: 330px;
                    height: auto;
                    background-color: white;
                    box-sizing: border-box;
                    padding: 14px 20px;
                    border-radius: 10px;

                    margin: 10px;

                    box-shadow: 0px 5px 18px 0px rgb(0 0 0 / 19%);

                    >p {
                        word-break: keep-all;
                    }

                    $farge2: cadetblue;

                    >a {
                        display: block;
                        color: white;
                        text-decoration: none;
                        width: 100%;
                        height: 100%;
                        text-align: center;
                        padding: 10px;
                        box-sizing: border-box;
                        border-radius: 6px;
                        font-weight: 100;
                        background-color: $farge2;

                        transition: 300ms ease;

                        &:hover {
                            background-color: lighten($color: $farge2, $amount: 3%);
                        }

                        &:active {
                            background-color: darken($color: $farge2, $amount: 2%);
                        }
                    }
                }
            }
        }
    }
}