<ng-container *ngIf="einBedrift && einBedrift.gfhel && einBedriftCurrentGoogleFormLink">
    <app-dynamisk-google-form-html [htmlLink]="einBedriftCurrentGoogleFormLink"></app-dynamisk-google-form-html>
</ng-container>

<ng-container *ngIf="einBedrift else laster">
    <div id="einBedriftContainer" [@einBedrift]="containerStatus" class="container">
        <button mat-mini-fab color="primary" class="pil-tilbake" (click)="lukkPanel()">
            <mat-icon>first_page</mat-icon>
        </button>

        <aside class="navigering">
            <button mat-mini-fab color="accent" (click)="byttBedriftForCurrVisning('forrige')">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <button mat-mini-fab color="accent" (click)="byttBedriftForCurrVisning('neste')">
                <mat-icon>navigate_next</mat-icon>
            </button>
        </aside>

        <div>
            <div class="header"
                [style.backgroundImage]="einBedrift.framsidebileteLink ? 'url(' + einBedrift.framsidebileteLink + ')' : ''"
                [style.backgroundPosition]="einBedrift.framsidebiletePosisjon"
                [style.backgroundSize]="einBedrift.framsidebileteStorrelse">
                <div class="logo">
                    <div *ngIf="einBedrift.logoLink else broken"
                        [style.backgroundImage]="'url(' + einBedrift.logoLink + ')'">
                    </div>
                    <ng-template #broken>
                        <mat-icon>broken_image</mat-icon>
                    </ng-template>
                </div>
                <div *ngIf="einBedrift.framsidebileteFotoPerson" class="foto">
                    Foto: {{ einBedrift.framsidebileteFotoPerson }}
                </div>
            </div>
            <div class="tekst">
                <div class="tilleggskort" *ngIf="einBedrift.gfhel || einBedrift.tilleggskort">
                    <!-- Google Form som "tilleggskort" -->
                    <ng-container *ngIf="einBedrift.gfhel">
                        <div *ngFor="let googleFormKort of einBedrift.gfhel">
                            <!-- Tittel -->
                            <h1 class="tittel" *ngIf="googleFormKort.tittel.length else formKortTittel">
                                {{ googleFormKort.tittel }}
                            </h1>
                            <ng-template #formKortTittel>
                                <h1 class="tittel" *ngIf="googleFormKort.tittel === 1">
                                    Speedate
                                </h1>
                            </ng-template>
                            <!-- Beskrivelse -->
                            <ng-container *ngIf="googleFormKort.beskriving1 else br">
                                <p *ngIf="googleFormKort.beskriving1.length else standardBeskriving"
                                    [innerHTML]="googleFormKort.beskriving1"></p>
                                <ng-template #standardBeskriving>
                                    <!-- Speedate -->
                                    <p *ngIf="googleFormKort.beskriving1 === 1">
                                        Meld deg på Speedate med {{ einBedrift.namn }}!
                                    </p>
                                </ng-template>
                            </ng-container>
                            <ng-template #br>
                                <p>
                                    Google Form-skjema
                                </p>
                            </ng-template>

                            <span
                                (click)="opneUndersokelse(googleFormKort.link1);(googleFormKort.googleAnalyticsID === 'speedate' ? analyticsFunksjonar.EinBedrift_KlikkPaaSpeedateKnapp(einBedrift.namn) : null);">
                                <ng-container *ngIf="googleFormKort.linktekst1.length else standardLinkTekst">
                                    {{ googleFormKort.linktekst1 }}
                                </ng-container>
                                <ng-template #standardLinkTekst>
                                    <!-- Speedate -->
                                    <ng-container *ngIf="googleFormKort.linktekst1 === 1">
                                        Påmelding
                                    </ng-container>
                                </ng-template>
                            </span>
                        </div>
                    </ng-container>
                    <!-- Andre tilleggskort -->
                    <ng-container *ngIf="einBedrift.tilleggskort">
                        <div *ngFor="let kort of einBedrift.tilleggskort">
                            <!-- Tittel -->
                            <ng-container *ngIf="kort.tittel.length else standardKortTittel">
                                <h1 class="tittel" [innerHTML]="kort.tittel"></h1>
                            </ng-container>
                            <ng-template #standardKortTittel>
                                <ng-container *ngIf="kort.tittel === 1">
                                    <h1 class="tittel">Middag!</h1>
                                </ng-container>
                            </ng-template>
                            <!-- Beskrivelse -->
                            <ng-container *ngIf="kort.beskriving1.length else standardKortBeskriving">
                                <p [innerHTML]="kort.beskriving1"></p>
                            </ng-container>
                            <ng-template #standardKortBeskriving>
                                <!-- Middag -->
                                <ng-container *ngIf="kort.beskriving1 === 1">
                                    <p>
                                        Informasjon om {{ einBedrift.namn }}-middagen.
                                    </p>
                                </ng-container>
                            </ng-template>
                            <!-- Link -->
                            <a [href]="kort.link1" target="_blank" rel="noopener">
                                <ng-container *ngIf="kort.linktekst1.length else standardKortLinktekst">
                                    Les mer om {{ kort.linktekst1 }}
                                </ng-container>
                                <ng-template #standardKortLinktekst>
                                    <!-- Middag -->
                                    <ng-container *ngIf="kort.linktekst1 === 1">
                                        Les mer
                                    </ng-container>
                                </ng-template>
                            </a>
                        </div>
                    </ng-container>
                </div>

                <!-- Namn -->
                <h1 [innerHTML]="einBedrift.namn"></h1>
                <!-- Link 1 -->
                <a class="link1" [href]="einBedrift.link1" target="_blank" rel="noopener"
                    (click)="analyticsFunksjonar.EinBedrift_KlikkPaaEksternHeimesideKnapp(einBedrift.namn)">
                    {{ einBedrift.linktekst1 !== 1 ? einBedrift.linktekst1 : einBedrift.namn + ' - Hjemmeside' }}
                    <sup>
                        <mat-icon>open_in_new</mat-icon>
                    </sup>
                    <br>
                    <div>
                        <span></span>
                    </div>
                </a>

                <div class="beskrivelse-video">
                    <div>
                        <!-- Beskrivelse -->
                        <p *ngIf="einBedrift.beskriving1" class="beskriving-p" [innerHTML]="einBedrift.beskriving1"></p>
                        <p *ngIf="einBedrift.beskriving2" class="beskriving-p" [innerHTML]="einBedrift.beskriving2"></p>
                        <p *ngIf="einBedrift.beskriving3" class="beskriving-p" [innerHTML]="einBedrift.beskriving3"></p>
                        <!--  -->
                        <!-- Finansdepartementet -->
                        <ng-container *ngIf="einBedrift.ruterLink === 'finansdepartementet'">
                            Våre arbeidsoppgaver er blant annet å:
                            <div class="midtstilt-venstre-tekst">
                                <ul>
                                    <li>planlegge og iverksette den økonomiske politikken</li>
                                    <li>samordne arbeidet med statsbudsjettet</li>
                                    <li>sørge for at det offentlige får inn skatter og avgifter</li>
                                    <li>overvåke og utarbeide regler for finansmarkedene</li>
                                    <li>forvalte Statens pensjonsfond</li>
                                </ul>
                            </div>
                            <p>
                                Som nyansatt hos oss har du en reell rolle i departementet fra første stund, og du vil
                                få
                                mye ansvar. Hos oss vil du kunne anvende og utvikle
                                kunnskapen fra skolebenken på dagsaktuelle problemstillinger. Du fungerer som en
                                selvstendig faglig rådgiver fra dag en, og gir råd til politisk
                                ledelse i saker på ditt fagområde. Samtidig får du tett oppfølging av dyktige ledere og
                                kollegaer som hører på dine synspunkter. Ditt arbeid er
                                viktig for departementet, og du vil få en variert arbeidshverdag med høyt tempo.
                            </p>
                            <br>
                            <p>
                                Hvilke muligheter tilbyr vi studenter?
                                <i>Praktikantopphold:</i> Formålet med praktikantoppholdet er å gi deg en opplevelse av
                                hvordan
                                det er å jobbe som jurist og økonom i Finansdepartementet.
                            </p>
                            <h3>
                                <u>For jurister:</u>
                            </h3>
                            <p>
                                Praktikantoppholdet tilbys nå i vår Skattelovavdeling, og er lønnet med fire til seks
                                ukers
                                varighet. Som praktikant hos oss får du anledning til å jobbe med saker i
                                skjæringspunktet
                                mellom juss, fag og politikk og får være en del av et sterkt fagmiljø som gir råd til
                                vår
                                politiske ledelse.
                                Vi ser etter deg som har fullført 3. studieår/avdeling og har gode eksamensresultater.
                                Les
                                mer om stillingen her <a
                                    href="https://www.jobbnorge.no/ledige-stillinger/stilling/191770/praktikantopphold-i-skattelovavdelingen-for-jusstudenter" target="_blank"
                                    rel="noopener">
                                    www.jobbnorge.no
                                </a>
                                <i>(søknadsfrist 1. okt. 2020)</i>
                            </p>
                            <h3>
                                <u>For økonomer:</u>
                            </h3>
                            <p>
                                Finansdepartementet tilbyr ett til tre lønnede engasjementer for økonomistudenter med
                                oppstart i begynnelsen av januar 2021 og med en varighet på 5-6 uker. Kortere opphold
                                kan
                                vurderes.
                                Arbeidsoppgavene vil i hovedsak bestå av analyser og vurderinger av ulike faglige
                                problemstillinger og understøtte avdelingene i deres arbeid. Engasjementet er en god
                                mulighet til å bli bedre kjent med Finansdepartementet. Samtidig får du anledning til å
                                arbeide med utfordrende og samfunnsnyttige oppgaver i et sterkt fagmiljø, samt få et
                                innblikk i samspillet mellom økonomi og politikk. Du vil få tildelt en fadder under hele
                                oppholdet.
                                Studentene vil bli tilknyttet en avdeling, henholdsvis Skatteøkonomisk avdeling,
                                Finansavdelingen eller Utviklingsprogrammet.
                                Les mer om stillingen her: <a
                                    href="https://www.jobbnorge.no/ledige-stillinger/stilling/191809/studentengasjement-for-oekonomer" target="_blank"
                                    rel="noopener">
                                    www.jobbnorge.no
                                </a>
                                <i>(søknadsfrist 29. sept. 2020)</i>.
                            </p>

                            <p>
                                Vi rekrutterer studenter som har utdanning innen økonomi herunder siviløkonomi,
                                samfunnsøkonomi etc, og jurister (til FMA og SL).
                            </p>
                            <p>
                                Ønsker du mer informasjon om Finansdepartementet?
                                På <a href="https://jobbifin.dep.no" target="_blank"
                                rel="noopener">www.jobbifin.dep.no/</a>
                                finner du mer informasjon om oss og om våre avdelinger.
                            </p>
                        </ng-container>
                        <!--  -->
                        <!-- Accenture -->
                        <ng-container *ngIf="einBedrift.ruterLink === 'accenture'">
                            Hvilke studieretninger man eventuelt rekrutterer fra/til hvilke stillinger man rekrutterer:
                            <div class="midtstilt-venstre-tekst">
                                <ul>
                                    <li>Rekrutterer helst studenter fra: IT, Ingeniørkunst, Økonomi.</li>
                                    <li>Vil tilbyr mange forskjellige stillinger som f.eks: Utvikler (Frontend og/eller
                                        Backend), Tekniske Arkitekter, Sikkerhets Arkitekter, UX Designere, Business
                                        Analyst, Project Manager</li>
                                    <li>Følge denne siden for oppdateringer på ledige stillinger: <a
                                            href="https://www.accenture.com/no-en/careers/jobsearch?jk=&sb=0" target="_blank"
                                            rel="noopener">https://www.accenture.com/no-en/careers/jobsearch</a>
                                    </li>
                                    <li>NB!!! Pga. COVID-19 har muligheter blitt begrenset. Vi ønsker selvfølgelig å
                                        informere studenter om muligheter men vil også understreke at mange opplegg
                                        settes på vente, avlyses, eller flyttes.</li>
                                </ul>
                            </div>
                        </ng-container>
                        <!--  -->
                        <!-- Forsvaret -->
                        <ng-container *ngIf="einBedrift.ruterLink === 'forsvaret'">
                            Etterretningsanalyse
                            <div class="midtstilt-venstre-tekst">
                                <ul>
                                    <li>En etterretningsanalytiker er en fagekspert som jobber systematisk med
                                        informasjon.</li>
                                    <li>Utvikler kunnskap</li>
                                    <li>Setter hendelser i en større kontekst</li>
                                    <li>Må kunne skape orden ut av kaos</li>
                                    <li>Har stor påvirkningskraft på beslutninger</li>
                                </ul>
                            </div>
                            Menneskebasert innhenting
                            <div class="midtstilt-venstre-tekst">
                                <ul>
                                    <li>Informasjonsinnhenting gjennom samhandling med mennesker.</li>
                                    <li>Identifisere, vurdere og anvende menneskelige kilde.</li>
                                    <li>Unik og utradisjonell tjeneste</li>
                                </ul>
                            </div>
                            Informasjon om jobb i Etterretningsbataljonen:
                            <div class="midtstilt-venstre-tekst">
                                <ul>
                                    <li>Du kan søke uten å ha gjennomført førstegangstjeneste hvis du har</li>
                                    <li>fullført utdanning på bachelornivå eller høyere.</li>
                                    <li>Fast jobb i militær stilling.</li>
                                    <li>Ansettes i ett år, med prøvetid.</li>
                                    <li>Opplæring i jobben</li>
                                    <li>Bestått opplæring gir fast ansettelse</li>
                                    <li>Informasjon og krav på <a href="https://www.forsvaret.no/etterretning"
                                            target="_blank" rel="noopener">www.forsvaret.no/etterretning</a></li>
                                </ul>
                            </div>
                            Informasjon til studenter som er interessert:
                            <div class="midtstilt-venstre-tekst">
                                <ul>
                                    <li>Aktuelle studenter vil bli kontaktet av Forsvaret for en speed-date på et hotell
                                        sentralt i Bergen sentrum <u class="casual-underline">torsdag 1. oktober</u>
                                    </li>
                                    <li>Forholdsregler for smittevern vil bli overholdt</li>
                                </ul>
                            </div>
                        </ng-container>
                        <!--  -->
                        <!-- Knowit -->
                        <ng-container *ngIf="einBedrift.ruterLink === 'knowit'">
                            Om rekruttering
                            <div class="midtstilt-venstre-tekst">
                                <ul>
                                    <li>Vi rekrutterer for tiden hovedsakelig IT-studenter til utviklerjobber.</li>
                                    <li>Rekrutterer for sommerjobb og fast jobb.</li>
                                </ul>
                            </div>
                        </ng-container>
                        <!--  -->
                        <!-- Schibsted -->
                        <ng-container *ngIf="einBedrift.ruterLink === 'schibsted'">
                            <div class="midtstilt-venstre-tekst-type-2">
                                <ul>
                                    <li>
                                        Sommerjobber publiseres desember/januar - les mer her: <a
                                            href="https://schibsted.com/career/for-students/internships-theses/" target="_blank"
                                            rel="noopener">
                                            https://schibsted.com/career/for-students/internships-theses
                                        </a>
                                    </li>
                                    <li>
                                        Schibsted Connect har <u class="casual-underline">søknadsfrist 30. september</u>
                                        og i utgangspunktet skal
                                        studentene
                                        være plassert i Oslo.
                                    </li>
                                    <li>
                                        Vi ansetter studenter til å være lærere under Kids Coding Camp (normalt
                                        vinterferien
                                        og sommerferien).
                                    </li>
                                    <li>
                                        Link til vår podcast Schibsted Talks: <a
                                            href="https://open.spotify.com/show/270CtGkMTTYZQZZD8BtjmX" target="_blank"
                                            rel="noopener">
                                            https://open.spotify.com/show/...
                                        </a>
                                    </li>
                                    <li>
                                        Her kan dere bli bedre kjent med Schibsted: <a
                                            href=" https://schibsted.com/about/#BrandMovie" target="_blank"
                                            rel="noopener">
                                            https://schibsted.com/about/#BrandMovie
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                        <!--  -->
                        <!-- Deloitte -->
                        <ng-container *ngIf="einBedrift.ruterLink === 'deloitte'">
                            Om rekruttering
                            <div class="midtstilt-venstre-tekst">
                                <ul>
                                    <h4>Tax & Legal</h4>
                                    <li>Deloitte Advokatfirma er et av Norges største forretningsjuridiske
                                        advokatfirmaer, med nesten 200 profesjonelle medarbeidere med spisskompetanse
                                        innen transaksjoner, skatt og avgift samt forretningsjus. Advokatfirmaet er
                                        organisert i faggrupper og tverrfaglige bransjegrupper.</li>
                                </ul>
                                <ul>
                                    <h4>Consulting</h4>
                                    <li>I Deloitte Consulting tilbyr vi rådgivningstjenester innenfor Strategy,
                                        Analytics and M&A, Customer & Marketing, Business Operations, Human Capital og
                                        Enterprise Technology & Performance. Vi arbeider med alt fra strategi og
                                        forretningsutvikling til teknologi og forvaltning av IT som skaper verdi for
                                        våre kunder. Vi bistår også våre klienter med å fremme produktivitet, lønnsomhet
                                        og presentasjoner gjennom utvikling av menneskelige ressurser.</li>
                                </ul>
                                <ul>
                                    <h4>Audit & Assurance</h4>
                                    <li>Audit & Assurance er vårt største forretningsområde, med rundt 600 dyktige
                                        medarbeidere i Norge. Vi utfører revisjon for en rekke klienter av varierende
                                        størrelse og i ulike bransjer og sektorer. Vi kan vi bidra med rådgivning innen
                                        områder som norske og internasjonale regnskapsstandarder (IFRS), Statlige
                                        regnskapsstandarder (SRS), samt en rekke andre fagområder med tilknytning til
                                        regnskaps- og økonomifunksjonen. Som revisor i Deloitte får du en utfordrende
                                        jobb med gode utviklingsmuligheter og stor innflytelse på din hverdag.</li>
                                </ul>
                                <ul>
                                    <h4>Financial Advisory</h4>
                                    <li>Vi bistår private selskaper og den offentlige sektoren ved transaksjoner,
                                        tvister, gjennomføring av større investeringer og omstruktureringer. Vårt
                                        tjenestespekter dekker Corporate Finance, Transaction Services/Due Diligence,
                                        Valuation/Financial Analysis & Modeling, Infrastructure/Capital Projects samt
                                        Capital Restructuring.</li>
                                </ul>
                                <ul>
                                    <h4>Business Process Solutions</h4>
                                    <li>I Business Process Solutions bistår vi våre klienter med forbedring og utvikling
                                        av økonomifunksjonen gjennom å levere interimløsninger og prosjektstøtte. Som
                                        konsulent i Business Process Solutions (BPS) får du muligheten til å jobbe med
                                        alle typer virksomheter og bransjer, hvor du vil tre inn i en rolle som
                                        eksempelvis regnskapsansvarlig, controller eller CFO i en overgangsperiode.</li>
                                </ul>
                                <ul>
                                    <h4>Risk Advisory og Cyber</h4>
                                    <li>Vi tilbyr rådgivningstjenester innenfor styring og kontroll, samfunnsansvar,
                                        risikostyring, antikorrupsjon og informasjonssikkerhet til alle typer
                                        virksomheter innenfor offentlig og privat sektor. Dette omfatter blant annet
                                        evalueringer, granskning, utvikling og forbedring. Vi hjelper våre kunder med å
                                        bevare og skape verdier gjennom relevante, nyskapende, og risikofokuserte
                                        tjenester skreddersydd for prioriterte bransjer og segmenter.</li>
                                    <li>Deloitte er kontinuerlig på utkikk etter nye talenter og ansetter hvert år mange
                                        nyutdannede til våre forretningsområder.</li>
                                    <li>Det finnes også flere muligheter underveis i studiet både gjennom winter og
                                        summer internships eller gjennom deltakelse på våre mange studenttilbud.</li>
                                </ul>
                                <ul>
                                    <h4>Internship i Deloitte i 2021?</h4>
                                    <li>Vil du ha faglige utfordringer, lære av erfarne kolleger og utvikle deg som
                                        person? Vil du finne ut hvordan det egentlig er å jobbe som konsulent eller
                                        revisor? Ved Oslo-kontoret tilbyr vi Internship både i januar og på sommeren.
                                        <u class="casual-underline">Søknadsfrist er 1. oktober</u>. Les mer og søk her:
                                        <a
                                            href="https://deloitte.recman.no/job.php?job_id=162309" target="_blank"
                                            rel="noopener">https://deloitte.recman.no/job</a>
                                    </li>
                                </ul>
                                <ul>
                                    <h4>Hva kan vi tilby:</h4>
                                    <li>I Deloitte har vi et arbeidsmiljø som bygger på tillit og samarbeid. Vi er
                                        opptatt av å ha dyktige medarbeidere som trives, og har et variert tilbud til
                                        ansatte både innen kultur, idrett og sosiale aktiviteter. De første ukene hos
                                        oss vil du få delta på en rekke kurs som er skreddersydd for å gi deg en bratt
                                        læringskurve og en solid start på arbeidslivet. Du vil få en unik mulighet til å
                                        bli kjent med dine kollegaer, både faglig og personlig, gjennom et intensivt
                                        kursprogram og sosiale arrangementer. Deretter skjer mye av læringen «on the
                                        job». I Deloitte vil du få mulighet til å jobbe på prosjekter innenfor mange
                                        ulike bransjer, tilpasset dine kvalifikasjoner og interesser. Å starte en
                                        karriere i Deloitte vil, uavhengig av fremtidige karrierevalg, åpne en verden av
                                        muligheter for deg</li>
                                </ul>
                            </div>
                        </ng-container>
                        <!--  -->
                        <!-- DNB -->
                        <ng-container *ngIf="einBedrift.ruterLink === 'dnb'">
                            Hvilke studieretninger dere normalt rekrutterer fra
                            <div class="midtstilt-venstre-tekst">
                                <ul>
                                    <li>DNB er i utgangspunktet åpne for alle studieretninger. Vi er mer opptatt av hvem
                                        du er og hva som opptar deg. Ønsker du å skape det neste som gjør livet til
                                        kundene litt enklere? Er du nysgjerrig, våger å utfordre, men også klok nok til
                                        å lytte? Brenner du for teknologi og har lyst til å gjøre en forskjell? Da kan
                                        du være kandidaten vi ser etter.</li>
                                    <li>
                                        <h4>Vi ser etter både kandidater med og uten erfaring:</h4>
                                    </li>
                                    <ul>
                                        <li>God forretningsforståelse og interesse for bank/finans</li>
                                        <li>Interesse for teknologi og teknologiutvikling, og hvordan digitalisering
                                            endrer bransjer</li>
                                        <li>Evne til å analysere, tolke, strukturere og formidle informasjon på en enkel
                                            og overbevisende måte</li>
                                        <li>Evne til å bygge sterke relasjoner til ledere og nøkkelpersoner</li>
                                        <li>Evne til å tenke kreativt og strategisk – samtidig Initiativ, nysgjerrighet
                                            og pågangsmot – og evne til å drive større prosjekter Høyere utdannelse på
                                            masternivå med gode resultater</li>
                                    </ul>
                                </ul>
                            </div>
                            Hvilke muligheter det finnes for studenter i DNB?
                            <div class="midtstilt-venstre-tekst">
                                <ul>
                                    <h4>Internship</h4>
                                    <li>Vi tilbyr internship for studenter i DNB Markets og andre forretningsområder som
                                        for eksempel: IT & Operations, Kommunikasjon, Wealth Management, Risikostyring,
                                        Bedriftsmarked, og Storkunde & Internasjonal.</li>
                                    <li>Søknadsfristen til DNB Markets er utgått for 2021, men DNB Corporate Summer
                                        Internship 2021 som omhandler de andre forretningsområdene vil bli utlyst i
                                        desember/januar.</li>
                                </ul>
                                <ul>
                                    <h4>Graduate</h4>
                                    <li>Er du nesten ferdig med studiene eller nettopp begynt å jobbe? Bli en del av
                                        DNBs Graduateprogram! Som graduate i DNB vil du bli plassert i et
                                        forretningsområde som matcher din ekspertise og dine preferanser. Det forventes
                                        at du inntar en aktiv rolle i ditt team og at du er beredt til å håndtere
                                        utfordrende arbeidsoppgaver fra første dag. Fra oss kan du forvente god støtte
                                        fra din nærmeste leder sammen med muligheten for å lære fra de beste på det
                                        aktuelle området.</li>
                                    <li>
                                        <h4>Søknadsfrister graduate-program:</h4>
                                    </li>
                                    <ul>
                                        <li> DNB Corporate Graduate 2021, <u class="casual-underline">søknadsfrist:
                                                30.09.20</u></li>
                                        <li>Architect Greenhouse - Program for IT graduates 2021, <u
                                                class="casual-underline">søknadsfrist:
                                                30.09.20</u>
                                        </li>
                                        <li>DNB Corporate Graduate 2021 - Group Treasury, <u
                                                class="casual-underline">søknadsfrist: 03.10.20</u>
                                        </li>
                                        <li>Cyber Security Graduate (2-year program starting fall 2021) <u
                                                class="casual-underline">søknadsfrist:
                                                04.10.20</u></li>
                                    </ul>
                                </ul>
                                <ul>
                                    <h4>Deltidsjobb</h4>
                                    <li>En deltidsjobb i DNB kan by på arbeidsoppgaver innen salg, service og
                                        rådgivning, og kan åpne dører for fremtidige muligheter i konsernet. Du må være
                                        minst 18 år og ha fullført minst ett års høyere utdannelse (universitets- eller
                                        høyskolenivå) for å starte i deltidsjobb i DNB.</li>
                                    <li>Vi legger løpende ut deltidsstillinger i Oslo, Stavanger, Bergen, Gjøvik og
                                        Trondheim.</li>
                                    <li>Her kan du lese mer om jobb i DNB: <a
                                            href="https://www.dnb.no/om-oss/jobb-og-karriere.html" target="_blank"
                                            rel="noopener">https://www.dnb.no/om-oss/jobb-og-karriere</a>
                                        Hvorfor velge DNB: <a
                                            href="https://www.dnb.no/om-oss/karriere/hvorfor-velge-oss.html"
                                            target="_blank"
                                            rel="noopener">https://www.dnb.no/om-oss/karriere/hvorfor-velge-oss</a>
                                    </li>
                                </ul>
                            </div>
                        </ng-container>
                        <!--  -->
                        <!-- Skansa -->
                        <ng-container *ngIf="einBedrift.ruterLink === 'skanska'">
                            Skanska rekrutterer følgende
                            <div class="midtstilt-venstre-tekst">
                                <ul>
                                    <li>Studenter med studier innenfor Bygg- og Anleggsfag, og Geomatikk/Landmåling.
                                        Sommerjobb og stillinger for nyutdannede innen vår Bygg- og Anleggsvirksomhet,
                                        samt til vår Survey-avdeling.</li>
                                </ul>
                            </div>
                        </ng-container>
                        <!--  -->
                        <!-- Ekstra Link 1 -->
                        <p class="beskriving-p" *ngIf="einBedrift.ekstraLink1">
                            <br>
                            <span [innerHTML]="einBedrift.ekstraLink1"></span>
                        </p>
                    </div>
                    <!-- Vimeo Video -->
                    <div *ngIf="einBedrift.vimeoVideo" class="vimeo-video"
                        [style.borderLeftColor]="einBedrift.vimeoVideo.farge ? einBedrift.vimeoVideo.farge : ''">
                        <iframe [src]="domSanitizer.bypassSecurityTrustResourceUrl(einBedrift.vimeoVideo.kjelde)"
                            frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
                        </iframe>
                        <div class="vimeo-link">
                            <span>
                                <mat-icon
                                    [style.color]="einBedrift.vimeoVideo.farge ? einBedrift.vimeoVideo.farge : ''">
                                    whatshot</mat-icon>
                                <span [innerHTML]="einBedrift.vimeoVideo.indreHTML[2]"></span>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</ng-container>
<ng-template #laster>
    Laster inn...
</ng-template>