.container {
    position: relative;
    width: calc(500px + 1px * 2);
    height: calc(520px + 1px * 2);
    background-color: white;
    opacity: 0.98;
    margin: auto;
    overflow: hidden;

    margin-top: 30px;
    margin-bottom: 65px;

    iframe {
        height: calc(100% - 30px - 2px * 2);
        width: calc(100% - 2px * 2);
        margin: 0;
        overflow: hidden;

        border: 2px solid rgba(122, 122, 122, 0.11);
        border-radius: 10px;

        padding-bottom: 10px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 768px) {
    .container {
        position: relative;
        width: calc(100% - 4px);
        max-width: calc(500px + 1px * 2);
        height: calc(520px + 1px * 2);
        background-color: white;
        opacity: 0.98;
        margin: auto;
        transform: translateX(2px);
        overflow: hidden;
    }
}